<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connector</title>
</head>
<body>
    <h1>CONNECTOR</h1>

    <a href="/entries" target="blank">Get All Entries</a>
    <br>
    <a href="/entry" target="blank">Get One Entry</a>
    <br>
    <a href="/all-entries" target="blank">Get All Entries (Including drafts)</a>
    <br>
    <a href="/draft-entry/3X2GWlfuFk1EIXODOPqeSq" target="blank">Get Draft Entry By Id</a>
    <br>
    <a href="/filter-drafts-entries" target="blank">Get only Draft Entries</a>
    <br>

</body>
</html>